<div class="wundery-cart">
    <a class="wundery-cart-link" href="https://checkout.branchbob.com#/18eef42b-63aa-486a-b3ab-c643b664d9ab/cart">
      <span class="wundery-cart-total">$9.95</span>
      <span class="wundery-cart-docs">.......</span>
      <div class="wundery-cart-box">
        <img class="wundery-cart-image" src="https://s3.eu-central-1.amazonaws.com/uploads.wundery.com/demo_products/cart.png">
        <span class="wundery-cart-numitems">1</span>
      </div>
  
    </a>
    <div class="wundery-cart-contents">
      <div class="wundery-cart-added-message">
      </div>
    </div>
  </div>

<div class="container-fluid">
    <h2 class="heading"> PRODUCT SHOP</h2>
    <div class="main-area">
        <div class="row">
            <div class="col-md-6">
                <div class="hold-img-detail">


                    <div id="image-detail" data-wundery-variant-value="image_variant_design" style="display: block;"><a
                            class="image-view"
                            href="https://wundery-uploads-production.imgix.net/70f000d4-4630-4eb0-9d33-f8810394e8be/b0a69582.jpg?w=800"
                            data-lightbox="1f1e513e-907c-4f66-9373-83501cef49fb"><img class="image-screen"
                                src="https://wundery-uploads-production.imgix.net/70f000d4-4630-4eb0-9d33-f8810394e8be/b0a69582.jpg?w=800"></a>
                    </div>

                </div>
                <div class="images">

                    <div class="image-wrapper">
                        <a class="image"
                            style="background-image: url('https://wundery-uploads-production.imgix.net/4d56ea69-e45a-4bbb-b1d4-c4a071820397/3484a456.jpg?w=200')"
                            data-wundery-image-url="https://wundery-uploads-production.imgix.net/4d56ea69-e45a-4bbb-b1d4-c4a071820397/3484a456.jpg?w=800"
                            data-wundery-image-variant-id="d51a61b7-78ac-406e-92c1-3f4f9b5ee6bd">
                        </a>
                    </div>

                    <div class="image-wrapper">
                        <a class="image"
                            style="background-image: url('https://wundery-uploads-production.imgix.net/70f000d4-4630-4eb0-9d33-f8810394e8be/b0a69582.jpg?w=200')"
                            data-wundery-image-url="https://wundery-uploads-production.imgix.net/70f000d4-4630-4eb0-9d33-f8810394e8be/b0a69582.jpg?w=800"
                            data-wundery-image-variant-id="8b8f45c4-5836-406d-ba02-332fb57d358d">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="test-contant">
                    <h1>Example Product 2</h1>

                    <div class="description">
                        Short Product Description
                    </div>



                    <div class="pricing">

                        <div class="originalprice" data-wundery-hide-if-variant-value-is-blank="reduced"
                            style="display: none;">

                            <span class="value">
                                <span data-wundery-variant-value="inherited_original_price_gross_formatted"
                                    style="display: inline;">$0.00</span>
                            </span>
                        </div>

                        <div class="price">
                            <div data-wundery-variant-value="inherited_price_gross_formatted" style="display: block;">
                                $9.95</div>
                        </div>







                        <div class="variant-value"
                            data-wundery-hide-if-variant-value-is-blank="inherited_base_price_description"
                            style="display: none;">
                            <div class="baseprice">
                                <div data-wundery-variant-value="inherited_base_price_description"
                                    style="display: block;"></div>
                            </div>
                        </div>
                        <!-- 

                        <div class="variant-value" data-wundery-hide-if-variant-value-is-blank="id">
                            <div class="shipping">
                                <a href="https://speedy-design.mybranchbob.com/payment-and-shipping"
                                    class="link zzgl-btn">
                                    plus shipment&nbsp;
                                    <span class="fa fa-external-link-square"></span>
                                </a>
                            </div>
                        </div> -->
                        <div class="delivery-time-group">
                            <div class="delivery_time ink-text">
                                Delivery time: 2-3 working days

                            </div>
                        </div>



                        <div class="sku ink-text">
                            <p>Item No. 000123349 |
                                GTIN 00012354</p>
                        </div>

                    </div>




                    <div class="options">
                        <div class="header">
                            Select your options
                        </div>
                        <div class="list">

                            <div class="option">
                                <!-- <div class="title">
                                    Größe
                                </div> -->
                                <div class="dropdown">
                                    <select data-wundery-option="a2d362bb-3557-46cb-a8ab-b708573ae649">

                                        <option value="484657e8-816e-46d0-84fb-ac927fafdec9">
                                            20cm
                                        </option>

                                        <option value="d7e1cf95-dced-4549-b338-a7f3ce233438">
                                            30cm
                                        </option>

                                    </select>
                                </div>
                            </div>

                        </div>
                        <div data-wundery-noselection="" class="noselection" style="display: none;">
                            Please select obtions
                        </div>
                    </div>


                    <div class="notavailable" data-wundery-notavailable="" style="display: none;">
                        Product currently not available
                    </div>

                    <div class="add">
                        <button data-wundery-add="" class="button zum-btn">
                            <span class="fa fa-plus"></span>&nbsp;&nbsp;<span data-wundery-adding="" class="adding"
                                style="display: none;"><span
                                    class="fa fa-circle-o-notch fa-spin"></span>&nbsp;&nbsp;</span>
                            Add to cart
                        </button>
                    </div>
                    <div class="text-center"> <a href="/" class="zuruck-btn"> <img
                                src="https://wundery-uploads-production.imgix.net/17d3c235-4728-4e87-9146-3a53e69ffebb/2e4391ae.svg"
                                alt="">Back to Homepage</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>