<!-- <header id="header" class="header">
    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 md-6 xl-6">
        <a class="logo" href="https://www.branchbob.com">
          <img src="https://www.branchbob.com/assets/img/logo.svg">
        </a>
      </div>
      <div class="col-lg-6 md-6 xl-6">
  
        <nav id="menu" class="topnav menu" >
                   
           <div id="menuItems">
  
            <a href="" >Functions</a>
            <a href="" routerLink="/product/demo" >About Us</a>
  
            <a target="_blank" title="branchbob Demo" href="">Demo</a>
            <a title="branchbob Blog" href="">Blog</a>
            <a href="" target="_blank"> Login </a>
            <a href="" target="_blank"> Register </a>
            <a href="#" class="icon" >
              <i class="fa fa-bars" (click)="toggleMenu('menuItems')"></i>
            </a> 
          </div>
        </nav>
      </div>
    </div>
    </div>
  </header> -->
<header>
  <div>
  <nav class="navbar navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://www.branchbob.com">
        <img src="https://www.branchbob.com/assets/img/logo.svg">
      </a>
     
  
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        <a href="" routerLink="/product/function">Functions</a>
        <a href="" routerLink="/product/aboutus" >About Us</a>
<a  href=""  routerLink="/product/demo"  >Product</a>
        <a title="branchbob Blog"  routerLink="/product/blog" href="">Blog</a>
        <a href="" target="_blank"> Login </a>
        <a href="" target="_blank"> Register </a>
      
    </div>
  </nav> 
</div>
</header>

